{% extends 'base.html' %}


{% load static %}
{% block content %}

    <h1 class="title">Monney Manager</h1>
    <hr>
   <div class="head">
        <p><h3>Income : </h3>{{ income }}</p>
        <p><h3>Expense : </h3>{{ expense }}</p>
        <p><h3>Available : </h3>{{ available }}</p>
    </div>
    <div class="content-left">
        <div class="content-calhead">
            <a class="btn " href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn " href="{% url 'cal:calendar' %}?{{ today }}"> Today </a>
            <a class="btn " href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
        </div>
        <div class="content-cal">
            {{ calendar }}
        </div>
        <br>
        <div class="bot">
            <form action="/go_to/" method="POST">
                {% csrf_token %}
                <p>Date : </p><input type="date" name="tdate">
                <input class="btn" type="submit" value="GO TO" />    
            </form>
            <!-- <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ today }}"> Today </a> -->
        </div>
    </div>
    <div class="content-right">
        <img src="{% static 'img/fig.png' %}">
        <img src="{% static 'img/fig1.png' %}">
    </div>
    <div class="overlay">
        <div class="popup">
            <div class="popup-head">
                <!-- {{ request.GET.day }} -->
            <h2>Add Data</h2>
            <a class="close" href="/home/?month={{add_date | date:'Y-m'}}">&times;</a>
            </div>
            <div class="link">
                <a href="/show_data/?day={{add_date | date:'d'}}" class="link-left">Details</a>
                <a href="" class="link-left active">Income</a>
                <a href="/add_data/?day={{add_date | date:'d'}}" class="link-right">Expense</a>
            </div>
            <div class="content">
                <form action="/add_trans/?type=1" method="POST">
                {% csrf_token %}
                <p>Date : </p>
                <input type="date" value="{{add_date | date:'Y-m-d'}}" name="adate"/><br>
                <p>Amount : </p>
                <input type="number" placeholder="Enter Amount" name="amount"/><br>
                <p>Type : </p>
                <select name="etype">
                    <option>Others</option>
                    <option>Card</option>
                    <option>Cash</option>
                    <option>Salary</option>                    
                </select><br>
                <p>Notes : </p>
                <input type="text" placeholder="Enter Note" name="note"/><br>
                <input type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
 
{% endblock %}  