{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
    </div>
    <br>
    <form action="/go_to/" method="POST">
        {% csrf_token %}
        Date : <input type="date" name="tdate">
        <input type="submit" value="GO TO"/>    
    </form>
    <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ today }}"> Today </a>
    {{ calendar }}
    <div class="overlay">
        <div class="popup">
            <div class="popup-head">
                <!-- {{ request.GET.day }} -->
            <h2>Details</h2>
            <a class="close" href="/?month={{add_date | date:'Y-m'}}">&times;</a>
            </div>
            <div class="link">
                <a href="" class="link-left active">Edit</a>
                <a href="/add_data_inc?day={{add_date | date:'d'}}" class="link-left">Income</a>
                <a href="/add_data_inc?day={{add_date | date:'d'}}" class="link-right">Expense</a>
            </div>
            <div class="content">

            <form action="/edit_data_db/?day={{add_date | date:'d'}}&id={{ instance.id }}" method="POST">
                {% csrf_token %}
                <p>Date : </p>
                <input type="date" value="{{add_date | date:'Y-m-d'}}" name="adate"/><br>
                <p>Amount : </p>
                <input type="number" value="{{ instance.amount }}" name="amount"/><br>                
                <p>Type : </p>
                <select name="etype">
                {% if instance.check == 0  %}
                    <option selected>{{ instance.etype }}</option>
                    {% if instance.etype != "Food" %}
                        <option>Food</option>
                    {% endif %}
                    {% if instance.etype != "Education" %}
                        <option>Education</option>
                    {% endif %}
                    {% if instance.etype != "Transport"%}                                                   
                        <option >Transport</option>
                    {% endif %}
                    {% if instance.etype != "Other"%}                                                   
                        <option >Other</option>
                    {% endif %}
                {% else %}
                    <option selected>{{ instance.etype }}</option>
                    {% if instance.etype != "Card" %}
                        <option>Card</option>
                    {% endif %}
                    {% if instance.etype != "Cash" %}
                        <option>Cash</option>
                    {% endif %}
                    {% if instance.etype != "Salary"%}                                                   
                        <option >Salary</option>
                    {% endif %}
                    {% if instance.etype != "Others"%}                                                   
                        <option >Others</option>
                    {% endif %}
                {% endif %}
                </select><br>

                <p>Notes : </p>
                <input type="text" value="{{ instance.notes }}" name="note"/><br>
                <input type="submit" value="Save"/>
            </form>                    
            
            </div>
        </div>
    </div>
 
{% endblock %}  