body {
    font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn{
    /* border: 1px solid #28a745; */
    box-shadow: 0 0 1px gray;
    background-color: rgba(193, 253, 181,0.6);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2% 1%;
    /* margin-bottom: 0px; */
    width: 20%;
}
.btn:hover{
    background-color: rgba(193, 253, 181);
}
 
  /* App styles */
.title {
    text-align: center;
    margin: 10px;
}
  
.calendar {
    /* width: 50%; */
    float: left;
    margin: auto;
    font-size: 13px;
    /* margin-left: 5%; */
    margin-top: 10px;
}
  

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(189, 250, 229, 0.6);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}
.calendar th:hover{
    background-color: rgba(189, 250, 229);
}
.calendar td {
    width: 80px;
    height: 70px;
    vertical-align: top;
    text-align: left;
    background-color: rgba(193, 253, 181, 0.6);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
    /* padding: 10px 0px 0px 5px; */
}
.calendar td:hover{
    background-color: rgba(193, 253, 181);
}

.month {
    font-size: 25px;
}
  
.date {
    font-size: 16px;
    width: 30%; 
    margin: 2px;
    /* padding: 5px; */
    /* float: left; */

    /* padding: 37%;
    padding-bottom: 33%; */
    /* background-color: #28a745; */
}

  
ul {
    /* height: 100%; */
    /* padding: 0px 5px 0px 20px; */
    margin: 0;
    width: 70%;
    float: right;
    text-align: center;
    list-style: none;
    padding: 0;
}
  
a {
    /* color: #17a2b8; */
    color: black;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    /* transition: 5s; */
    /* visibility: hidden; */
    /* opacity: 0; */
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    /* background: rgba(0, 0, 0, 0.6); */
    background: #fff;
    border-radius: 4px;
    width: 30%;
    position: absolute;
    left: 50%;
    top:50%;
    /* padding: 25px; */
    transform: translate(-50%,-50%);
    /* transition: all 5s ease-in-out; */
}
.popup-head{
    width: 100%;
    border-bottom: 0.4px solid lightgray;
}
.popup h2{
    padding: 0 25px;
    /* margin-top: 0; */
    font-weight: lighter;
    color: black;
    font-size: 25px;
    /* border-bottom: 2px lightgrey; */
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 18px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.popup .close:hover {
    color: rgba(193, 253, 181);
}
.popup .content{
    padding: 30px 30px;
}
.popup .link{
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
}
.link-left{
    width: 33.25%;
    float: left;
    background-color:rgba(193, 253, 181, 0.6); 
    
}
.content p{
    display: inline;
    line-height: 10px;
    padding-bottom: 10px;
}
.content-show p{
    /* display: inline; */
    /* line-height: 20px; */
    background-color: rgba(189, 250, 229, 0.6);
    /* height: 20px; */
    border-radius: 5px;
    padding: 7px 20px;
    margin: 5px;
}
.content h3{
    margin: 15px 0px;
    /* color: darkgray; */
}
.content-show{
    padding: 20px;
}
.content-show h3{
    margin: 15px 7px;
    margin-bottom: 0;
    /* color: darkgray; */
}
.content-show a{
    width: 15%;
    text-align: center;
    float: right;
}
.content-show a:hover{
    font-weight: bold;
}
.content-show h4{
    font-size: 21px;
    font-weight: lighter;
    margin: 7px;
    margin-bottom: 0px;
}
.link-right{
    width: 33.5%;

    float: right;
    background-color: rgba(193, 253, 181, 0.6);
    /* opacity: 70%; */
}
.active{
    background-color: rgba(193, 253, 181);
}
.link a:hover{
    background-color: rgba(193, 253, 181);   
}

.popup input, select{
    margin: 5px 0px;
    /* width: 100%; */
    /* float: right; */
    font-weight: bold;
    padding: 0 15px;
    font-size: 17px;
    height: 30px;
    border-radius: 4px;
}
.popup input[type="text"], input[type="date"], input[type="number"],select, option
{
    color: gray;
    background-color: white;
    border: none;
    font-weight: lighter;
    border: 0.5px solid lightgray;
}

.popup input[type="submit"]
{
    background-color: rgba(193, 253, 181, 0.6);
    border: none;
}
.popup input[type="submit"]:hover
{
    background-color: rgba(193, 253, 181);
} 
img{
    /* float: right; */
    /* height: 100; */
    /* clip-path: inset(0,50px,20px,80px); */
    width: 50%;
    height: auto;
    margin: 0;
    margin-left: -7%;
    padding-left: -7%;
    /* background-color: aquamarine; */
}
.content-left{
    width: 40%;
    float: left;
    margin: 0;
    text-align: center;
    /* top: 0; */
    /* background-color: #2dbe60; */
}
.content-right{
    float: right;
    width: 60%;
    text-align: center;
    /* background-color: #2dbe60; */
}
.content-right h3, .head h3{
    
    display: inline;
    line-height: 40px;
}
.content-right p, .head p{
    /* padding-top: 50px; */
    padding: 0px 15px;
    display: inline;
    line-height: 40px;
}
.content-cal{
    /* width: 50%; */
    float: left;
    /* margin-top: 20px; */
    
    margin-left: 30px;
    padding-top: 0;
}
.content-calhead{    
    width: 100%;
    /* margin-bottom: 10px; */
    min-height: 30px;
}
.head{
    
    /* width: 80%; */
    margin: 10px 30px;
    margin-bottom: 20px;
    min-height: 45px;
    text-align: center;
    /* margin-top: 30px; */
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgba(189, 250, 229, 0.6);  
}
.bot{
    margin-top: 20px;
    min-height: 30px;
}
.bot input[type="submit"]{
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(189, 250, 229, 0.6);  
    margin: 20px; 
    width: 75px; 
    font-size: 17px;
    box-shadow: 0 0 2px gray;
    /* margin-top: 0; */
}
.bot input[type="submit"]:hover{
    background-color: rgba(189, 250, 229);
}
.bot input[type="date"]{
    background-color: rgba(189, 250, 229, 0.6);
    height: 30px;
    border-radius: 4px;
    padding: 0px 5px;
    font-weight: bold;
    /* margin: 0 15px; */
}
.bot p{
    display: inline;
    font-size: 18px;
}
.green{
    color: #28a745;
}
.red{
    color: red;
}
.blue{
    color: blue;
}

@media(max-width:768px){
    .content-cal,
    .calendar,
    .content-show a,
    .content-left,
    .content-right{
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    img{
        width: 100%;
    }
    .bot{
        margin: 0;
    }
}